# Database
DB_DSN=postgresql+asyncpg://billing_user:billing_pass@localhost:5456/billing_db

# Security
SERVICE_TOKEN=super-secret-dev

# Service
SERVICE_NAME=billing-tariffication
SERVICE_VERSION=1.0.0 